@page
@model HumanTestModel
@{
  ViewData["Title"] = "Human Test";
}

<div class="col-6">
  <h1>@ViewData["Title"]</h1>

  <p>Use this page to detail your site's privacy policy.</p>

  <div class="card" style="width: 18rem;">
    <img src="Images\Alien_Meme.jpg" class="card-img-top" alt="failed to load">
    <div class="card-body">
      <h5 class="card-title">@Model.Name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content. @Model.WackyName</p>
      <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>

  <br/>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <br /><br /><br />



  <form action="/HumanTest" method="post">
    <a class="btn btn-info" href="/HumanTest">Regenerate Name</a>
    <br /><br />
    <button type="submit" class="btn btn-info" role="button">Generate Human Name</button>
    <br /><br />
    <input type="text" name="First_Name" />
    <br /><br />
  </form>
  <h3 class="clearfix">@Model.WackyName</h3>



  <br /><br />

  <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Hello, @Model.Name!
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>

</div>

<div class="col-6">
<h3>Hello World, right?</h3>

 <br /><br />

<h4>Anwser this question correctly to enter into out Quiz</h4>
<p>What would be the appropriate respones to the following question: "Yo man, waddup?"</p>

<form method="post" asp-page-handler="/Quiz">
    <input type="hidden" name="correctAnswer" value="Yes, Carbon-14 is considered an unstable isotope, wich is why it is used for Radio carbon Dating" />
    <button type="submit" name="answer1" value="Yes, my name is @Model.WackyName" class="btn btn-primary">Yes, my name is @Model.WackyName</button>
    <br /><br />
    <button type="submit" name="answer2" value="No, I like my coffee cold and with a metric fuckton of sugar" class="btn btn-primary">No, I like my coffee cold and with a metric fuckton of sugar</button>
    <br /><br />
    <button type="submit" name="answer3" value="Yes, Carbon-14 is considered an unstable isotope, wich is why it is used for Radio carbon Dating" class="btn btn-primary">Yes, Carbon-14 is considered an unstable isotope, wich is why it is used for Radio carbon Dating</button>
</form>


</div>